:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: white;
}

.sidebar-brand {
  display: flex;
  align-items: center;
  padding: 16px;
  height: var(--header-height);
}

.sidebar-footer {
  margin-top: auto;
}

.active-link {
  background: rgba(63, 81, 181, 0.08) !important;
  color: var(--color-primary) !important;
  border-right: 3px solid var(--color-primary);
}
